<div class="container-fluid home-page">
	<%= render 'flash' %>
	<div class="side-area position-relative">
		<div class="side-area-bg">
		</div>
	</div>
	<div class="trending">
	</div>
</div>
<%= console %>
