<div class="container-fluid home-page">
	<%= render 'flash' %>
	<div class="side-area position-relative">
		<div class="side-area-bg">
		</div>
	</div>
	<%# link_to 'posts', [current_user, :posts] if user_signed_in? %>
	<%# <div class="trending">
	</div> %>
</div>
