<div class="container home-page">
	<%= render 'flash' %>
	<div class="side-area mx-auto">
	</div>
	<%# link_to 'posts', [current_user, :posts] if user_signed_in? %>
	<%# <div class="trending">
	</div> %>
</div>
