<nav class="nav">
	<a class="nav-link active" aria-current="page" href="#">Publication</a>
	<a class="nav-link" href="#">Following</a>
	<a class="nav-link" href="#">Blocked</a>
	<a class="nav-link" href="#">Notifications</a>
	<a class="nav-link">History</a>
</nav>
