<div class="btn-group">
	<button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="all:initial">
		<i class="bi bi-three-dots fs-4 fw-bold"></i>
	</button>
	<ul class="dropdown-menu">
		<li><%= link_to "Open", post, class: "dropdown-item", target: '_top'%></li>
		<li>
			<%= link_to "Edit", edit_post_path(post),
                class: "dropdown-item",
                data: { turbo_frame: dom_id(post)},
                target: '_top' if user_signed_in? && post.user_id == current_user&.id %>
		</li>
		<% if post.user_id == current_user&.id %>
			<li><a class="dropdown-item" href="#">Pin</a></li>
		<% end %>
		<%# <li><hr class="dropdown-divider"></li>
		<li><a class="dropdown-item" href="#">Another action</a></li>
		<li><a class="dropdown-item" href="#">Something else here</a></li>
		<li><a class="dropdown-item" href="#">Separated link</a></li> %>
		<%# <li><hr class="dropdown-divider"></li> %>
		<li>
			<%= button_to "Delete", post_path(post),
                method: :delete, class: "dropdown-item",
                form: { data: { turbo_frame: '_top'}, class: "button_to dropdown-item" } if user_signed_in? &&  post.user_id == current_user&.id %>
		</li>
	</ul>
</div>
