<div class="btn-group">
	<button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="all:initial">
		<svg class="hu oz afp" width="25" height="25"><path d="M5 12.5c0 .55.2 1.02.59 1.41.39.4.86.59 1.41.59.55 0 1.02-.2 1.41-.59.4-.39.59-.86.59-1.41 0-.55-.2-1.02-.59-1.41A1.93 1.93 0 0 0 7 10.5c-.55 0-1.02.2-1.41.59-.4.39-.59.86-.59 1.41zm5.62 0c0 .55.2 1.02.58 1.41.4.4.87.59 1.42.59.55 0 1.02-.2 1.41-.59.4-.39.59-.86.59-1.41 0-.55-.2-1.02-.59-1.41a1.93 1.93 0 0 0-1.41-.59c-.55 0-1.03.2-1.42.59-.39.39-.58.86-.58 1.41zm5.6 0c0 .55.2 1.02.58 1.41.4.4.87.59 1.43.59.56 0 1.03-.2 1.42-.59.39-.39.58-.86.58-1.41 0-.55-.2-1.02-.58-1.41a1.93 1.93 0 0 0-1.42-.59c-.56 0-1.04.2-1.43.59-.39.39-.58.86-.58 1.41z" fill-rule="evenodd"></path></svg>
		<%# <i class="bi bi-three-dots my-auto"></i> %>
	</button>
	<ul class="dropdown-menu">
		<li><%= link_to "Open", post, class: "dropdown-item", target: '_top'%></li>
		<li><%= link_to "Edit", edit_post_path(post), class: "dropdown-item", data: { turbo_frame: dom_id(post)}, target: '_top' %></li>
		<li><a class="dropdown-item" href="#">Pin</a></li>
		<li><hr class="dropdown-divider"></li>
		<li><a class="dropdown-item" href="#">Another action</a></li>
		<li><a class="dropdown-item" href="#">Something else here</a></li>
		<li><a class="dropdown-item" href="#">Separated link</a></li>
		<li><hr class="dropdown-divider"></li>
		<li><%= button_to "Delete", posts_path, method: :delete, class: "dropdown-item",
                form: { data: { turbo_frame: '_top'} } %>
		</li>
	</ul>
</div>
