<% content_for(:title, "Posts home page") %>
<div id="posts">
	<%= turbo_frame_tag "public_posts" do %>
		<% @posts.each do |post| %>
			<%# turbo_frame_tag dom_id(post), src: post_path(post) %>
			<%= render 'post_preview', post: post %>
			<%# if post.content.embeds.attached? %>
			<%# end %>
		<% end %>
		<%# render 'post_preview', post: post %>
		<%# link_to "Show this post", post %>
		<div class="row-cols-12 my-auto py-3 ms-2">
			<div class="col-auto text-center">
				<%== pagy_bootstrap_nav(@pagy) %>
			</div>
		</div>
	<% end %>
</div>
<%# console %>
