/********** Template CSS **********/
.user_since {
    font-size: 0.65rem;
}
.comment {
    border-bottom: 1px solid lightgray;
    position: relative;
}
.form_comment {
    border: 0;
    border-radius: 8px;
    box-shadow: 5px 10px 15px gray;
}
.form_comment .form-control {
    border-style: none;
    border-color: none;
    border: none;
    /* resize: horizontal; */
}
.form_comment .form-control:focus {
    box-shadow: none;
}
.form_comment .form-control::-webkit-resizer {
    border-width: 0;
    border-style: none;
    border-color: none;
}
/* ------------------- */
form {
    margin: 0;
}
/* ------------------- */
.link-to {
    text-decoration: none;
    color: inherit;
    outline: 0;
}
/* ------------------- */
.tag {
    border: 1px solid lightgray;
    padding-block: 0.2rem;
    padding-inline: 1rem;
    margin-block: 0.2rem;
    border-radius: 5px;
    /* margin-right: 0.35rem; */
    /* min-width: 50%; */
    /* width: 100%; */
}
.tag p {
    margin: 0;
}
.tag i {
    font-size: 0.75rem;
}
/* ------------------- */
.like-avatar img {
    border-radius: 50%;
    position: relative;
    left: -5px;
    margin-left: -15px;
    z-index: 1;
    border: 2px solid white;
}

.likes-avatars {
    /* direction: rtl; */
    text-align: left;
    padding-left: 1rem;
    position: relative;
}
.likes_count {
    position: absolute;
}
/* ------------------- */
.tooltip-inner {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 4px black;
    opacity: 1 !important;
}

/* ------------------- */
.button_to {
    margin: 0;
}
.button_to > button {
    all: initial;
    display: block;
    padding: 5;
    font-family: inherit;
}
/* -------------------------- */
.side-area {
    height: 600px;
    width: 100%;
}
.side-area-bg {
    height: 100%;
    background-image: url("blog_wordcloud.png");
    object-fit: fill;
    background-repeat: no-repeat;
}
/* -------------------------- */
.post-info {
    height: 1.5rem;
}
.post-info > div:not(:first-child) {
    padding-inline: 8px;
}
.post-info div p,
button {
    margin-bottom: 0;
}
/* -------------------------- */
.dropdown-toggle:after {
    content: none;
}

.navbar {
    padding: 5px 25px !important;
    height: 70px;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 8px;
}
.navbar .navbar-nav .nav-link {
    position: relative;
    margin-right: 25px;
    font-weight: 500;
    outline: none;
    transition: 1s;
}

.user-menu {
    display: flex;
    justify-items: center;
}
/* btn btn-light rounded-pill py-2 px-4 ms-3 d-none d-lg-block */
.user-menu .btn {
    border: none;
    border-radius: 25px;
    padding-block: 8px !important;
    padding-inline: 20px !important;
    margin: 0 20px;
}
.current-user {
    text-decoration: none;
    background-color: transparent;
    margin: auto;
}
