<% content_for :content do %>
	<%# turbo_frame_tag "posts_home" do %>
		<%= render 'title' %>
		<div class="container-fluid post-main-page">
			<%= render 'flash' %>
			<%= yield %>
		</div>
		<%# end %>
	<% end %>
	<%= render template: "layouts/application" %>
